layout {
    tab name="Nextnode-front" {
        pane split_direction="vertical" {
            pane cwd="~/Documents/Development/nextnode/nextnode-front"
            pane cwd="~/Documents/Development/nextnode/nextnode-front"
        }
    }
    tab name="Nextnode" {
        pane split_direction="vertical" {
            pane cwd="~/Documents/Development/nextnode"
            pane cwd="~/Documents/Development/nextnode"
        }
    }
    tab name="configs" focus=true {
        pane split_direction="vertical" {
            pane cwd="~/.stow_repository"
            pane cwd="~/.stow_repository"
        }
    }
}